@font-face {
  font-family: 'UTM-Avo';
  src: url("../font-face/UTM-Avo.eot");
  src: local("UTM-Avo"), url("../font-face/UTM-Avo.woff") format("woff"), url("../font-face/UTM-Avo.ttf") format("truetype"); }
@font-face {
  font-family: 'UTM-Avo-bold';
  src: url("../font-face/UTM-Avo-bold.eot");
  src: local("UTM-Avo-bold"), url("../font-face/UTM-Avo-bold.ttf") format("truetype"); }
@font-face {
  font-family: 'icomoon';
  src: url("../font-face/icomoon/icomoon.eot?v2nf99");
  src: url("../font-face/icomoon/icomoon.eot?v2nf99#iefix") format("embedded-opentype"), url("../font-face/icomoon/icomoon.ttf?v2nf99") format("truetype"), url("../font-face/icomoon/icomoon.woff?v2nf99") format("woff"), url("../font-face/icomoon/icomoon.svg?v2nf99#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothic';
  src: url("../font-face/gothic.eot");
  src: local("gothic"), url("../font-face/gothic.woff") format("woff"), url("../font-face/gothic.ttf") format("truetype"); }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arr-back-pagination:before {
  content: "\e900";
  color: #4a4a4a; }

.icon-arr-form:before {
  content: "\e901";
  color: #cc9b40; }

.icon-arr-next-pagination:before {
  content: "\e902";
  color: #4a4a4a; }

.icon-arr-prev-active:before {
  content: "\e903";
  color: #cc9b40; }

.icon-arrow-next-df:before {
  content: "\e904";
  color: #165a6d; }

.icon-calendar:before {
  content: "\e905";
  color: #cc9b40; }

.icon-check:before {
  content: "\e906";
  color: #cc9b40; }

.icon-close-popup-black:before {
  content: "\e907";
  color: #9b9b9b; }

.icon-double-arrow-footer:before {
  content: "\e908";
  color: #fff; }

.icon-fb:before {
  content: "\e909";
  color: #9b9b9b; }

.icon-gg:before {
  content: "\e90a";
  color: #9b9b9b; }

.icon-instagram:before {
  content: "\e90b";
  color: #9b9b9b; }

.icon-loading:before {
  content: "\e90c";
  color: #cc9b40; }

.icon-location:before {
  content: "\e90d";
  color: #fff; }

.icon-mail:before {
  content: "\e90e";
  color: #fff; }

.icon-phone:before {
  content: "\e90f";
  color: #fff; }

.icon-youtube:before {
  content: "\e910";
  color: #9b9b9b; }

.icon-zoom:before {
  content: "\e911";
  color: #fff; }

#pt-header {
  position: relative;
  z-index: 12; }

#pt-head-container {
  background-color: #fff;
  padding: 19px 0; }
  #pt-head-container .container {
    display: flex;
    align-items: center;
    position: relative; }
  #pt-head-container .pt-follow {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -11px; }
  #pt-head-container .link-language {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px; }

.pt-follow li {
  display: inline-block;
  margin-right: 14px; }
  .pt-follow li a {
    display: block;
    text-decoration: none !important; }
    .pt-follow li a [class^="icon-"], .pt-follow li a [class*=" icon-"] {
      font-size: 20px; }
    .pt-follow li a:hover [class^="icon-"]:before, .pt-follow li a:hover [class*=" icon-"]:before {
      color: #D29F34; }

#pt-logo {
  margin: 0 auto;
  width: 244px;
  height: 65px; }
  #pt-logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/front/logotop.png") no-repeat;
    background-size: 100% auto; }

.link-language {
  font-size: 13px;
  color: #666666; }
  .link-language .dropdown-toggle {
    border: none;
    background: none transparent;
    font-size: 13px;
    color: #666666; }
    .link-language .dropdown-toggle:hover {
      color: #D29F34; }
  .link-language:hover .dropdown-toggle {
    color: #D29F34; }
  .link-language .dropdown-menu {
    min-width: 105px; }

#pt-menu {
  background-color: #D29F34;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12); }
  #pt-menu .pt-list-menu {
    text-align: center; }
    #pt-menu .pt-list-menu > li {
      display: inline-block;
      padding: 0 20px;
      position: relative; }
      @media screen and (max-width: 1193px) {
        #pt-menu .pt-list-menu > li {
          padding: 0 10px; } }
  @media screen and (max-width: 1193px) and (max-width: 990px) {
    #pt-menu .pt-list-menu > li {
      padding: 0 4px; }
      #pt-menu .pt-list-menu > li > a {
        font-size: 11px; } }

      #pt-menu .pt-list-menu > li > a {
        display: block;
        font-family: 'UTM-Avo-bold';
        font-size: 13px;
        color: #FFFFFF;
        line-height: 18px;
        padding: 11px 0;
        text-transform: uppercase;
        text-decoration: none !important;
        border-bottom: 2px solid transparent; }
      #pt-menu .pt-list-menu > li:hover > a {
        color: #A6B8B5; }
      #pt-menu .pt-list-menu > li.active > a {
        color: #FFFFFF;
        border-bottom: 2px solid #fff; }
      #pt-menu .pt-list-menu > li .pt-list-menu-sub {
        display: none;
        position: absolute;
        top: 42px;
        left: 0px;
        width: 230px;
        background-color: #fff;
        z-index: 99;
        padding-top: 10px;
        border-top: 1px solid #f9f9f9;
        border-radius: 0px 0px 3px 3px;
        text-align: left; }
        #pt-menu .pt-list-menu > li .pt-list-menu-sub li {
          padding: 6px 16px;
          display: block; }
          #pt-menu .pt-list-menu > li .pt-list-menu-sub li > a {
            font-size: 14px;
            color: #000;
            padding: 0px 0px 0px 16px;
            line-height: 16px;
            border: none !important;
            text-transform: initial;
            position: relative;
            text-decoration: none !important; }
            #pt-menu .pt-list-menu > li .pt-list-menu-sub li > a:before {
              content: "";
              position: absolute;
              top: 9px;
              left: 0px;
              width: 6px;
              height: 6px;
              background-color: #e7e6e3;
              border-radius: 50%; }
          #pt-menu .pt-list-menu > li .pt-list-menu-sub li:hover > a {
            color: #D29F34; }
            #pt-menu .pt-list-menu > li .pt-list-menu-sub li:hover > a:before {
              background-color: #D29F34; }
      #pt-menu .pt-list-menu > li:hover .pt-list-menu-sub {
        display: block; }

.icon-menu {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -15px; }
  .icon-menu span {
    width: 23px;
    height: 3px;
    background-color: #d29f34;
    margin: 5px 0;
    display: block; }

@media screen and (max-width: 767px) {
  #pt-menu {
    display: none; }

  .icon-menu {
    display: block; }

  .pt-follow {
    display: none; }

  #pt-head-container .link-language {
    margin-left: auto; } }
@media screen and (max-width: 767px) and (max-width: 550px) {
  #pt-head-container #pt-logo {
    width: 171px;
    height: 44px; } }

  @media screen and (max-width: 767px) and (max-width: 550px) and (max-width: 360px) {
    #pt-head-container #pt-logo {
      margin: 0 0 0 36px; } }

.pt-img-banner {
  position: relative; }

.pt-title-banner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, -50%); }
  .pt-title-banner h3 {
    font-size: 60px;
    font-family: 'UTM-Avo-bold'; }
  .pt-title-banner p {
    font-size: 18px;
    margin: 10px 0;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .pt-title-banner h3 {
      font-size: 40px; } }
  @media screen and (max-width: 500px) {
    .pt-title-banner h3 {
      font-size: 20px; }
    .pt-title-banner p {
      font-size: 14px; } }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px; }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 2px solid #CC9B40;
    background-color: #fff;
    width: 14px;
    height: 14px; }

.pt-from-search {
  border-bottom: 1px solid #D8D8D8;
  padding: 20px 0; }
  .pt-from-search ul {
    display: flex; }
    .pt-from-search ul li {
      flex-grow: 1;
      padding-right: 20px; }
      .pt-from-search ul li:last-child {
        padding-right: 0; }
      .pt-from-search ul li .input {
        border: 1px solid #D8D8D8;
        background: none transparent;
        border-radius: 3px;
        padding: 0px 10px;
        width: 100%;
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        font-family: 'UTM-Avo-bold';
        color: #9D9D9E; }
        .pt-from-search ul li .input.icon {
          padding-right: 30px;
          background: url(../img/front/calendar.svg) no-repeat right 12px top 12px; }
          @media screen and (max-width: 1024px) {
            .pt-from-search ul li .input.icon {
              width: 160px; } }
      .pt-from-search ul li .btn {
        width: 100%; }
    @media screen and (max-width: 768px) {
      .pt-from-search ul {
        display: block; }
        .pt-from-search ul li {
          width: 32%;
          display: inline-block;
          margin-bottom: 10px;
          padding: 0 5px !important; }
          .pt-from-search ul li .input {
            width: 100% !important; } }
    @media screen and (max-width: 768px) and (max-width: 700px) {
      .pt-from-search ul li {
        width: 49%; }
        .pt-from-search ul li .btn,
        .pt-from-search ul li .input {
          font-size: 11px; } }

  @media screen and (max-width: 768px) and (max-width: 700px) and (max-width: 320px) {
    .pt-from-search ul li .btn,
    .pt-from-search ul li .input {
      font-size: 9px; } }

@media screen and (max-width: 690px) {
  .dropdown-menu {
    left: 50% !important;
    margin-left: -102px; }
    .dropdown-menu:before, .dropdown-menu:after {
      display: none;
      left: auto !important;
      right: 50% !important; } }
.btn {
  background: #D29F34;
  border-radius: 0;
  height: 35px;
  line-height: 32px;
  font-size: 14px;
  color: #FFFFFF !important;
  text-align: center;
  padding: 0px 10px;
  text-transform: uppercase;
  min-width: 106px; }

a.btn {
  line-height: 30px; }

.pt-from-search .btn {
  height: 40px;
  line-height: 32px; }

.section-swiper {
  position: relative; }
  @media (min-width: 1310px) {
    .section-swiper .swiper-button-next {
      right: -65px; }
    .section-swiper .swiper-button-prev {
      left: -65px; } }

.pt-img-experience {
  margin-bottom: 20px;
  margin-top: 10px; }
  .pt-img-experience img {
    width: 100%;
    height: auto; }
  @media (min-width: 767px) {
    .pt-img-experience {
      display: flex;
      align-items: center; } }
  .pt-img-experience .col-xs-12 {
    margin-bottom: 10px; }

#pt-pool {
  position: relative; }
  #pt-pool img {
    width: 100%;
    height: auto; }
  #pt-pool .pt-title-banner h3 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: 'UTM-Avo-bold';
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 20px; }
    #pt-pool .pt-title-banner h3:after {
      content: "";
      width: 40px;
      height: 1px;
      background-color: #D8D8D8;
      margin-left: -20px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%; }
  #pt-pool .pt-title-banner p {
    text-align: center;
    text-transform: none;
    font-size: 15px;
    color: #FFFFFF; }
  @media screen and (max-width: 700px) {
    #pt-pool .pt-title-banner {
      position: static;
      transform: none;
      padding: 10px;
      text-align: center;
      margin-top: 10px; }
      #pt-pool .pt-title-banner h3 {
        font-size: 16px;
        color: #666666; }
      #pt-pool .pt-title-banner p {
        font-size: 12px;
        color: #666666; } }

#pt-services {
  padding: 60px 0;
  background-color: #F7F7F7; }
  #pt-services .title-section {
    margin-bottom: 20px; }
  @media screen and (max-width: 700px) {
    #pt-services {
      padding: 25px 0; } }

.pt-block-services .pt-block-image {
  overflow: hidden;
  margin-bottom: 0; }
  .pt-block-services .pt-block-image a {
    display: block;
    border-radius: 3px 3px 0 0;
    overflow: hidden; }
    .pt-block-services .pt-block-image a img {
      width: 100%;
      height: auto; }
.pt-block-services .pt-book {
  padding: 20px;
  background-color: #fff;
  text-align: center; }
  .pt-block-services .pt-book span {
    display: block;
    font-size: 15px;
    color: #666666;
    text-align: center;
    line-height: 25px; }
  .pt-block-services .pt-book strong {
    font-size: 20px;
    color: #CC9B40;
    text-align: center;
    line-height: 30px; }

#pt-content-img {
  padding: 30px 0; }
  #pt-content-img .content-img {
    margin-top: 20px; }

.pt-block-image {
  margin-bottom: 30px; }
  .pt-block-image a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px; }
    .pt-block-image a img {
      width: 100%;
      height: auto; }
    .pt-block-image a span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 9;
      font-family: 'UTM-Avo-bold';
      text-transform: uppercase;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 15px;
      color: #FFFFFF;
      text-align: center;
      line-height: 20px; }

#pt-experience {
  padding: 40px 0; }
  #pt-experience .pt-content-experience {
    margin-top: 30px; }
    #pt-experience .pt-content-experience p {
      text-align: center; }
  @media screen and (max-width: 700px) {
    #pt-experience {
      padding: 25px 0; }
      #pt-experience .pt-content-experience {
        margin-top: 15px; } }

#pt-block-container {
  padding: 30px 0; }

.pt-img-destination img {
  width: 100%;
  height: auto; }
@media screen and (max-width: 767px) {
  .pt-img-destination {
    margin: 0 0 15px; } }

.pt-text-destination h3 {
  font-size: 20px;
  color: #444444;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: 'UTM-Avo-bold'; }
.pt-text-destination .pt-info {
  display: flex;
  align-items: center; }
  .pt-text-destination .pt-info .view-detail {
    font-size: 15px;
    color: #CC9B40;
    font-family: 'UTM-Avo-bold';
    text-decoration: underline;
    margin-right: 10px; }
    .pt-text-destination .pt-info .view-detail:hover {
      text-decoration: none; }
  .pt-text-destination .pt-info span {
    font-size: 15px;
    color: #CC9B40;
    font-family: 'UTM-Avo-bold';
    margin-right: 10px; }

.block-breadcrumb {
  text-align: center; }

.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0; }
  .breadcrumb li {
    font-size: 14px;
    color: #CC9B40 !important; }
    .breadcrumb li a {
      font-size: 14px;
      color: #CC9B40; }
    .breadcrumb li + li:before {
      padding: 0 9px 0 5px;
      color: #CC9B40;
      content: "\203A"; }

.pt-content-detail {
  max-width: 753px;
  margin: 0 auto; }

.pt-info-detail h3 {
  font-size: 20px;
  color: #444444;
  line-height: 30px;
  font-family: 'UTM-Avo-bold';
  margin-bottom: 15px; }
.pt-info-detail .list-utilities li {
  font-size: 15px;
  color: #444444;
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative; }
  .pt-info-detail .list-utilities li:before {
    position: absolute;
    top: 2px;
    left: 4px;
    color: #CC9B40;
    content: "";
    border: solid #CC9B40;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    height: 15px; }
.pt-info-detail .pt-info {
  text-align: right;
  margin-bottom: 20px; }
  .pt-info-detail .pt-info .text-price {
    display: block;
    margin-bottom: 10px; }
    .pt-info-detail .pt-info .text-price strong {
      font-family: 'UTM-Avo-bold';
      font-size: 20px;
      color: #CC9B40; }

.menu-detail {
  text-align: center;
  font-size: 15px;
  color: #CC9B40;
  line-height: 22px;
  margin-bottom: 15px;
  font-family: 'UTM-Avo-bold'; }
  .menu-detail a {
    font-size: 15px;
    color: #CC9B40;
    line-height: 22px;
    text-decoration: underline; }
    .menu-detail a:hover {
      text-decoration: none; }

.table-detail .table > thead > tr > th {
  background-color: #C19740;
  font-size: 13px;
  color: #FFFFFF;
  font-family: 'UTM-Avo-bold';
  padding: 18px 10px;
  border-color: #BCC9CE;
  border-bottom: none; }
.table-detail .table > tbody > tr > td {
  font-size: 15px;
  color: #444444;
  padding: 14px 10px;
  border-color: #BCC9CE; }

.form-datepicker {
  padding-right: 30px;
  background: url(../img/front/calendar.svg) no-repeat right 10px top 8px; }

.modal-backdrop {
  z-index: 998; }

.modal {
  z-index: 999; }

.modal-title {
  font-family: UTM-Avo-bold,sans-serif;
  font-size: 24px;
  color: #2C2C2C;
  line-height: 30px; }

.modal-header .close {
  font-size: 31px;
  margin-top: 1px; }

.modal-body .form-group {
  display: flex;
  align-items: center;
  flex-grow: 1; }
  .modal-body .form-group label {
    min-width: 150px; }
  @media screen and (max-width: 768px) {
    .modal-body .form-group {
      display: block; }
      .modal-body .form-group label {
        margin-bottom: 10px; } }
  .modal-body .form-group .form-group-times {
    display: flex;
    justify-content: space-between;
    flex: 1; }
    .modal-body .form-group .form-group-times .form-control {
      width: 49%; }

@media screen and (min-width: 768px) {
  .modal-dialog.w-600 {
    width: 558px;
    margin: 30px auto; } }
.pt-img-spa img {
  width: 100%;
  height: auto; }
.pt-img-spa .col-xs-12 {
  margin-bottom: 30px; }
@media screen and (max-width: 768px) {
  .pt-img-spa {
    margin-bottom: 15px; } }

.section-navigation {
  text-align: center; }
  .section-navigation .pagination li {
    padding: 0 1px;
    overflow: hidden;
    display: inline-block; }
    .section-navigation .pagination li a, .section-navigation .pagination li span {
      border-radius: 50px;
      width: 30px;
      height: 30px;
      padding: 0;
      text-align: center;
      line-height: 26px;
      font-size: 14px;
      color: #4A4A4A; }
      .section-navigation .pagination li a:hover, .section-navigation .pagination li span:hover {
        background-color: #C19740;
        color: #FFF; }
      .section-navigation .pagination li a.disabled, .section-navigation .pagination li span.disabled {
        pointer-events: none;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        background-color: #fff; }
      .section-navigation .pagination li a.icon [class^="icon-"], .section-navigation .pagination li a.icon [class*=" icon-"], .section-navigation .pagination li span.icon [class^="icon-"], .section-navigation .pagination li span.icon [class*=" icon-"] {
        font-size: 12px; }
      .section-navigation .pagination li a.icon:hover [class^="icon-"]:before, .section-navigation .pagination li a.icon:hover [class*=" icon-"]:before, .section-navigation .pagination li span.icon:hover [class^="icon-"]:before, .section-navigation .pagination li span.icon:hover [class*=" icon-"]:before {
        color: #fff; }
    .section-navigation .pagination li span {
      background-color: #C19740;
      color: #FFF; }

.block-gallery a.fancybox-icon {
  position: relative;
  display: block; }
  .block-gallery a.fancybox-icon:before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/front/icon-zoom.png) no-repeat center center;
    background-color: rgba(53, 160, 205, 0.5);
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; }
  .block-gallery a.fancybox-icon:hover:before {
    opacity: 1; }

.box-loading {
  text-align: center;
  font-size: 13px;
  color: #444444; }

.icon-loading {
  display: inline-block;
  animation: loading .5s infinite linear;
  -webkit-animation: loading .5s infinite linear;
  font-size: 15px;
  margin: 7px; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.modal-dialog-sale {
  width: 735px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .modal-dialog-sale {
      width: 100%; }
      .modal-dialog-sale .modal-content {
        margin: 15px; } }
  .modal-dialog-sale .link-sale img {
    width: 100%;
    height: auto; }
  .modal-dialog-sale .modal-content {
    border-radius: 10px;
    overflow: hidden; }
  .modal-dialog-sale .modal-body {
    padding: 0;
    position: relative; }
    .modal-dialog-sale .modal-body .close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;
      color: #fff;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.59);
      width: 40px;
      height: 40px;
      border-radius: 0 0 0 10px;
      line-height: 40px; }
    .modal-dialog-sale .modal-body .link-sale {
      display: block; }
    .modal-dialog-sale .modal-body .pt-title-banner {
      width: 100%; }

.datepicker td span {
  display: inline-block;
  float: none; }

#pt-footer-container {
  background-color: #C19740;
  padding: 30px 0 0; }
  #pt-footer-container .pt-follow [class^="icon-"]:before, #pt-footer-container .pt-follow [class*=" icon-"]:before {
    color: #fff; }

.logo-footer img {
  width: 225px;
  margin-bottom: 15px; }

.list-info-footer li {
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative; }
  .list-info-footer li a {
    color: #FFFFFF; }
  .list-info-footer li [class^="icon-"], .list-info-footer li [class*=" icon-"] {
    position: absolute;
    top: 5px;
    left: 0; }

.title-footer {
  font-size: 13px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: 'UTM-Avo-bold';
  margin-bottom: 15px; }

.list-menu-footer li {
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding-left: 17px;
  position: relative;
  width: 49%;
  display: inline-block;
  vertical-align: top; }
  .list-menu-footer li a {
    color: #FFFFFF; }
  .list-menu-footer li [class^="icon-"], .list-menu-footer li [class*=" icon-"] {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 11px; }

.input-footer {
  width: 100%;
  background: #C19740;
  border: 1px solid #AC8430;
  border-radius: 3px;
  padding: 8px;
  color: #fff;
  margin-bottom: 10px; }
  .input-footer::-webkit-input-placeholder {
    color: #fff; }
  .input-footer::-moz-placeholder {
    color: #fff; }
  .input-footer:-ms-input-placeholder {
    color: #fff; }
  .input-footer:-moz-placeholder {
    color: #fff; }

.coppyright {
  margin-top: 30px;
  border-top: 1px solid #AC8430;
  text-align: center;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 20px;
  padding: 15px 0; }

/*----- reset -----*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0; }

:focus {
  outline: 0; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

img {
  vertical-align: top; }

::-webkit-input-placeholder {
  color: #9D9D9E; }

::-moz-placeholder {
  color: #9D9D9E; }

:-ms-input-placeholder {
  color: #9D9D9E; }

:-moz-placeholder {
  color: #9D9D9E; }

.br-grey {
  background-color: #F4F7F8; }

p {
  font-size: 15px;
  color: #666666;
  margin-bottom: 16px; }
  @media screen and (max-width: 700px) {
    p {
      font-size: 12px; } }

body {
  font-family: 'UTM-Avo'; }

.mb-30 {
  margin-bottom: 30px; }

.mt-30 {
  margin-top: 30px; }

.mt-15 {
  margin-top: 15px; }

.box-flex {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .box-flex {
      display: block; } }

.box-flex-nocenter {
  display: flex; }
  @media screen and (max-width: 767px) {
    .box-flex-nocenter {
      display: block; } }

.flex-direction {
  flex-direction: row-reverse; }

h2.title-section {
  font-size: 24px;
  color: #444444;
  text-align: center;
  font-family: 'UTM-Avo-bold';
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase; }
  h2.title-section:after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #D8D8D8;
    margin-left: -20px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%; }
  @media screen and (max-width: 700px) {
    h2.title-section {
      font-size: 18px; } }

.hover-img, .pt-block-services .pt-block-image a img, .pt-block-image a img {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear; }
  .hover-img:hover, .pt-block-image a img:hover {
    -webkit-transform: rotate(1deg) scale(1.1);
    -moz-transform: rotate(1deg) scale(1.1);
    -o-transform: rotate(1deg) scale(1.1);
    -ms-transform: rotate(1deg) scale(1.1);
    transform: rotate(1deg) scale(1.1); }

body[lang=en] {
  font-family: 'gothic' !important; }
  body[lang=en] p {
    font-family: 'gothic' !important; }
  body[lang=en] .pt-text-destination .pt-info .view-detail,
  body[lang=en] .menu-detail a,
  body[lang=en] .pt-text-destination h3,
  body[lang=en] #pt-menu .pt-list-menu > li > a,
  body[lang=en] .pt-from-search ul li .input,
  body[lang=en] .pt-block-image a span,
  body[lang=en] .pt-title-banner h3,
  body[lang=en] .title-footer,
  body[lang=en] h2.title-section {
    font-family: 'gothic' !important;
    font-weight: bold !important; }
  body[lang=en] a.btn {
    line-height: 33px; }

/*# sourceMappingURL=common.css.map */
