

.pt-img-banner {
    position: relative;
}

.pt-title-banner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -50%);

    h3 {
        font-size: 60px;
        font-family: 'UTM-Avo-bold';
    }

    p {
        font-size: 18px;
        margin: 10px 0;
        color: #fff;
    }
    @media screen and (max-width: 768px) { 
        h3 {
            font-size: 40px;
            
        }
    }
    @media screen and (max-width: 500px) {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    &.swiper-pagination-bullet-active {
        border:2px solid #CC9B40;
        background-color: #fff;
        width: 14px;
        height: 14px;
    }
}

.pt-from-search {
    border-bottom:1px solid #D8D8D8;
    padding: 20px 0;
    ul {
        display: flex;
        li {
            flex-grow:1;
            padding-right:20px;
            &:last-child {
                padding-right: 0;
            }
           .input {
                border: 1px solid #D8D8D8;
                background: none transparent;
                border-radius: 3px;
                padding: 0px 10px;
                width: 100%;
                font-size: 13px;
                height: 40px;
                line-height: 40px;
                font-family: 'UTM-Avo-bold';
                color: #9D9D9E;
                &.icon {
                    padding-right: 30px;
                    background: url(../img/front/calendar.svg) no-repeat right 12px top 12px;
                
                    @media screen and (max-width: 1024px) {
                        width: 160px;
                    }
                
                }
            }
            select.input {
                
            }
            .btn {
                width: 100%;
            }
            
        }
        @media screen and (max-width: 768px) {
            display: block;
            li {
                width: 32%;
                display: inline-block;
                margin-bottom: 10px;
                padding: 0 5px!important;
                .input {
                    width: 100% !important;
                }
                @media screen and (max-width: 700px) {
                    width: 49%;
                    .btn ,
                    .input {
                        font-size: 11px; 
                    }
                    @media screen and (max-width: 320px) {
                        .btn ,
                        .input {
                            font-size: 9px; 
                        }
                    }
                    
                }
            }
            
        }
    }
}

@media screen and (max-width: 690px) { 
	.dropdown-menu{
		left:50% !important;
		margin-left:-102px;
		&:before,
		&:after {
			display:none;
			left:auto !important;
			right:50% !important;
		}
	}
}