

.btn {
    background: #D29F34;
    border-radius: 0;
    height: 35px;
    line-height: 32px;
    font-size: 14px;
    color: #FFFFFF !important;
    text-align: center;
    padding: 0px 10px;
    text-transform: uppercase;
    min-width: 106px;
}
a.btn {
    line-height: 30px;
}
.pt-from-search {
    .btn {
        height: 40px;
        line-height: 32px;
    }
}