


.section-swiper {
    position: relative;
    
    @media (min-width: 1310px) {
        .swiper-button-next {
            right: -65px;
        }
        .swiper-button-prev {
            left: -65px;
        }
    }
}


.pt-img-experience {
    margin-bottom: 20px;
    margin-top: 10px;
    img {
        width: 100%;
        height: auto;
    }
    @media (min-width: 767px) {
        display: flex;
        align-items: center;
    }
    .col-xs-12 {
        margin-bottom: 10px;
    }
}

#pt-pool {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }

    .pt-title-banner {
        h3 {
            font-size: 24px;
            color: #fff;
            text-align: center;
            font-family: 'UTM-Avo-bold';
            position: relative;
            padding-bottom: 10px;
            text-transform: uppercase;
            margin-bottom: 20px;

            &:after {
                content:"";
                width: 40px;
                height: 1px;
                background-color: #D8D8D8;
                margin-left: -20px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
            }
        }
        p {
            text-align: center;
            text-transform: none;
            font-size: 15px;
            color: #FFFFFF;
        }
    }
    @media screen and (max-width: 700px) { 
        .pt-title-banner {
            position: static;
            transform:none;
            padding: 10px;
            text-align: center;
            margin-top: 10px;
            h3 {
                font-size: 16px;
                color: #666666;
            }
            p {
                font-size: 12px;
                color: #666666;
            }
        }
    }
}

#pt-services {
    padding: 60px 0;
    background-color: #F7F7F7;

    .title-section {
        margin-bottom: 20px;
    }
    @media screen and (max-width: 700px) { 
        padding: 25px 0;
    }
}
.pt-block-services {
    .pt-block-image {
        overflow: hidden;
        margin-bottom: 0;
        a {
            display: block;
            border-radius: 3px 3px 0 0;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                @extend .hover-img; 
            }
        }
        
    }
    .pt-book {
        padding: 20px;
        background-color: #fff;
        text-align: center;
        span {
            display: block;
            font-size: 15px;
            color: #666666;
            text-align: center;
            line-height: 25px;
        }
        strong {
            font-size: 20px;
            color: #CC9B40;
            text-align: center;
            line-height: 30px;
        }
    }
}



#pt-content-img {
    padding: 30px 0;

    .content-img {
        margin-top: 20px;
    }
}

.pt-block-image {
    margin-bottom: 30px;
    a {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius:5px; 
        img {
            width: 100%;
            height: auto;
            @extend .hover-img;
        }
        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 9;
            font-family: 'UTM-Avo-bold';
            text-transform: uppercase;
            text-align: center;
            transform: translate(-50%, -50%);
            font-size: 15px;
            color: #FFFFFF;
            text-align: center;
            line-height: 20px;
        }
    }
}


#pt-experience {
    padding: 40px 0;

    .pt-content-experience {
        margin-top: 30px;
        p {
            text-align: center;
        }
    }

    @media screen and (max-width: 700px) { 
        padding: 25px 0;
        .pt-content-experience {
            margin-top: 15px; 
        }
    }
}

#pt-block-container {
    padding: 30px 0;
}
.pt-img-destination {
    img {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 767px){
        margin: 0 0 15px;
    }
}
.pt-text-destination {
    h3 {
        font-size: 20px;
        color: #444444;
        line-height: 30px;
        margin-bottom: 15px;
        font-family: 'UTM-Avo-bold';
    }

    .pt-info {
        display: flex;
        align-items: center;
        .view-detail {
            font-size: 15px;
            color: #CC9B40;
            font-family: 'UTM-Avo-bold';
            text-decoration:underline;
            margin-right: 10px;
            &:hover {
                text-decoration:none;
            }
        }
        span {
            font-size: 15px;
            color: #CC9B40;
            font-family: 'UTM-Avo-bold';
            margin-right: 10px;
        }
    }
    
}
.block-breadcrumb {
    text-align: center;
    
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    li {
        font-size: 14px;
        color: #CC9B40 !important;
        a {
            font-size: 14px;
            color: #CC9B40;
        }
        + li:before {
            padding: 0 9px 0 5px;
            color: #CC9B40;
            content: "\203A";
        }
    }
}

.pt-content-detail {
    max-width: 753px;
    margin: 0 auto;
}

.pt-info-detail {
    h3 {
        font-size: 20px;
        color: #444444;
        line-height: 30px;
        font-family: 'UTM-Avo-bold';
        margin-bottom: 15px;
    }
    .list-utilities {
        li {
            font-size: 15px;
            color: #444444;
            margin-bottom: 15px;
            padding-left: 25px;
            position: relative;
            &:before {
                position: absolute;
                top: 2px;
                left: 4px;
                color: #CC9B40;
                content: "";
                border: solid #CC9B40;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 8px;
                height: 15px;
            }
        }
    }
    .pt-info {
        text-align: right;
        margin-bottom: 20px;
        .text-price {
            display: block;
            margin-bottom: 10px;
            strong {
                font-family: 'UTM-Avo-bold';   
                font-size: 20px;
                color: #CC9B40;
            }
        }
    }
}

.menu-detail {
    text-align: center;
    font-size: 15px;
    color: #CC9B40;
    line-height: 22px;
    margin-bottom: 15px;
    font-family: 'UTM-Avo-bold';   
    a {
        font-size: 15px;
        color: #CC9B40;
        line-height: 22px;
        text-decoration:underline;
        &:hover {
            text-decoration:none;
        }
    }
}

.table-detail {

    .table>thead>tr>th {
        background-color: #C19740;
        font-size: 13px;
        color: #FFFFFF;
        font-family: 'UTM-Avo-bold'; 
        padding: 18px 10px;
        border-color: #BCC9CE; 
        border-bottom: none;
    }
    .table>tbody>tr>td {
        font-size: 15px;
        color: #444444;
        padding: 14px 10px;
        border-color: #BCC9CE; 
    }
}

.form-datepicker{
    padding-right: 30px;
    background: url(../img/front/calendar.svg) no-repeat right 10px top 8px;
}
.modal-backdrop {
    z-index: 998;
}
.modal {
    z-index: 999;
}

.modal-title {
	font-family: UTM-Avo-bold,sans-serif;
	font-size: 24px;
	color: #2C2C2C;
	line-height: 30px;
}
.modal-header .close {
	font-size: 31px;
	margin-top: 1px;
}

.modal-body {
    .form-group {
        display: flex;
        align-items: center;
        flex-grow: 1;
        label {
            min-width: 150px;
        }
        @media screen and  (max-width: 768px) {
            display: block;
            label {
                margin-bottom: 10px;
            }
        }

        .form-group-times {
            display: flex;
            justify-content:space-between;
            flex: 1;
            .form-control {
                width: 49%;
            }
        }
    }
}
@media screen and  (min-width: 768px) {

	.modal-dialog.w-600 {
		width: 558px;
		margin: 30px auto;
	}
}

.pt-img-spa {
    img {
        width: 100%;
        height: auto;

    }
    .col-xs-12 {
        margin-bottom: 30px;
    }
    @media screen and  (max-width: 768px) {
        margin-bottom: 15px;
    }
}

.section-navigation {
    text-align: center;
    .pagination {
        li {
            padding: 0 1px;
            overflow: hidden;
            display: inline-block;
            a,span {
                border-radius: 50px;
                width: 30px;
                height: 30px;
                padding: 0;
                text-align: center;
                line-height: 26px;
                font-size: 14px;
                color: #4A4A4A;
                &:hover {
                    background-color: #C19740;
                    color: #FFF;
                }  
                &.disabled {
                    pointer-events:none;
                    filter: alpha(opacity=65);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    opacity: .65;
                    background-color: #fff;
                } 

                &.icon {
                    [class^="icon-"], [class*=" icon-"] {
                        font-size: 12px;
                    }
                    &:hover {
                        [class^="icon-"], [class*=" icon-"] {
                            &:before {
                                color:#fff;
                            }
                        } 
                    }
                }
            }
            span {
                background-color: #C19740;
                color: #FFF;
            }
        }
    }
}

.block-gallery {
	a {
		&.fancybox-icon {
			position:relative;
			display:block;
			&:before {
				content:'';
				display:block;
				opacity:0;
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				width:100%;
				height:100%;
				background: url(../img/front/icon-zoom.png) no-repeat center center;
                background-color:rgba(53, 160, 205, .5);
                -webkit-transition: all .4s linear;
                -moz-transition: all .4s linear;
                -o-transition: all .4s linear;
                transition: all .4s linear;
			}
			&:hover {
				&:before {
					opacity:1;
				}
			}
		}
	}	
}

.box-loading {
    text-align: center;
    font-size: 13px;
    color: #444444;
}
.icon-loading {
    display: inline-block;
    animation: loading .5s infinite linear;
    -webkit-animation: loading .5s infinite linear;
    font-size: 15px;
    margin: 7px;
}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal-dialog-sale {
    width: 735px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
    margin: 0;
    @media screen and  (max-width: 768px) {
        width: 100%;
        .modal-content {
            margin: 15px;
        }
    }
    .link-sale {
        img {
            width: 100%;
            height: auto;
        }
    }
    .modal-content {
        border-radius: 10px;
        overflow: hidden;
    }
    .modal-body {
        padding: 0;
        position: relative;
        .close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            color: #fff;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.59);
            width: 40px;
            height: 40px;
            border-radius: 0 0 0 10px;
            line-height: 40px;
        }
        .link-sale {
            display: block;
        }
        .pt-title-banner {
            width: 100%;
        }
    }
}

.datepicker td span {
    display: inline-block;
    float: none;
}