@font-face {
    font-family: 'UTM-Avo';
    src: url('../font-face/UTM-Avo.eot');
    src: local('UTM-Avo'), url('../font-face/UTM-Avo.woff') format('woff'), url('../font-face/UTM-Avo.ttf') format('truetype');
  }
  @font-face {
    font-family: 'UTM-Avo-bold';
    src: url('../font-face/UTM-Avo-bold.eot');
    src: local('UTM-Avo-bold'), url('../font-face/UTM-Avo-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'icomoon';
    src:  url('../font-face/icomoon/icomoon.eot?v2nf99');
    src:  url('../font-face/icomoon/icomoon.eot?v2nf99#iefix') format('embedded-opentype'),
      url('../font-face/icomoon/icomoon.ttf?v2nf99') format('truetype'),
      url('../font-face/icomoon/icomoon.woff?v2nf99') format('woff'),
      url('../font-face/icomoon/icomoon.svg?v2nf99#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'gothic';
    src: url('../font-face/gothic.eot');
    src: local('gothic'), url('../font-face/gothic.woff') format('woff'), url('../font-face/gothic.ttf') format('truetype');
  }

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arr-back-pagination:before {
    content: "\e900";
    color: #4a4a4a;
  }
  .icon-arr-form:before {
    content: "\e901";
    color: #cc9b40;
  }
  .icon-arr-next-pagination:before {
    content: "\e902";
    color: #4a4a4a;
  }
  .icon-arr-prev-active:before {
    content: "\e903";
    color: #cc9b40;
  }
  .icon-arrow-next-df:before {
    content: "\e904";
    color: #165a6d;
  }
  .icon-calendar:before {
    content: "\e905";
    color: #cc9b40;
  }
  .icon-check:before {
    content: "\e906";
    color: #cc9b40;
  }
  .icon-close-popup-black:before {
    content: "\e907";
    color: #9b9b9b;
  }
  .icon-double-arrow-footer:before {
    content: "\e908";
    color: #fff;
  }
  .icon-fb:before {
    content: "\e909";
    color: #9b9b9b;
  }
  .icon-gg:before {
    content: "\e90a";
    color: #9b9b9b;
  }
  .icon-instagram:before {
    content: "\e90b";
    color: #9b9b9b;
  }
  .icon-loading:before {
    content: "\e90c";
    color: #cc9b40;
  }
  .icon-location:before {
    content: "\e90d";
    color: #fff;
  }
  .icon-mail:before {
    content: "\e90e";
    color: #fff;
  }
  .icon-phone:before {
    content: "\e90f";
    color: #fff;
  }
  .icon-youtube:before {
    content: "\e910";
    color: #9b9b9b;
  }
  .icon-zoom:before {
    content: "\e911";
    color: #fff;
  }
  