
#pt-footer-container {
    background-color: #C19740;
    padding: 30px 0 0;
    .pt-follow {
        [class^="icon-"], [class*=" icon-"] {
            &:before {
                color:#fff;
            }
        } 
    }
}

.logo-footer {
    img {
        width: 225px;
        margin-bottom: 15px;
    }
    
}

.list-info-footer {
    li {
        font-size: 12px;
        color: #FFFFFF;
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
        a {
            color: #FFFFFF;
        }
        [class^="icon-"], [class*=" icon-"] {
            position: absolute;
            top:5px;
            left: 0;
        }
    }
}

.title-footer {
    font-size: 13px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: 'UTM-Avo-bold';
    margin-bottom: 15px;
}

.list-menu-footer {
    li {
        font-size: 12px;
        color: #FFFFFF;
        margin-bottom: 10px;
        padding-left: 17px;
        position: relative;
        width: 49%;
        display: inline-block;
        vertical-align: top;
        a {
            color: #FFFFFF;
        }
        [class^="icon-"], [class*=" icon-"] {
            position: absolute;
            top:5px;
            left: 0;
            font-size: 11px;
        }
    } 
}

.input-footer {
    width: 100%;
    background: #C19740;
    border: 1px solid #AC8430;
    border-radius: 3px;
    padding: 8px;
    color: #fff;
    margin-bottom: 10px;
    &::-webkit-input-placeholder { 
    color: #fff;
    }
    &::-moz-placeholder { 
    color: #fff;
    }
    &:-ms-input-placeholder { 
    color: #fff;
    }
    &:-moz-placeholder { 
    color: #fff;
    }
}

.coppyright {
    margin-top: 30px;
    border-top: 1px solid #AC8430;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 15px 0;
}