

#pt-header {
    position: relative;
    z-index: 12;
}

#pt-head-container {
    background-color: #fff;
    padding: 19px 0;

    .container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .pt-follow {
        position: absolute;
        top:50%;
        left: 15px;
        margin-top: -11px;
    }
    .link-language {
        position: absolute;
        top:50%;
        right: 15px;
        margin-top: -9px;
    }
}

.pt-follow {
    li {
        display: inline-block;
        margin-right: 14px;
        a {
            display: block;
            text-decoration:none !important;
            [class^="icon-"], [class*=" icon-"] {
                font-size: 20px;
            }
            &:hover {
                [class^="icon-"], [class*=" icon-"] {
                    &:before {
                        color:#D29F34;
                    }
                } 
            }
        }
    }
}


#pt-logo {
    margin: 0 auto;
    width: 244px;
    height:65px;
    a {
        display: block;
        width: 100%;
        height: 100%;
        background: url('../img/front/logotop.png') no-repeat;
        background-size: 100% auto;
    }
}

.link-language {
    font-size: 13px;
    color: #666666;

    .dropdown-toggle {
        border: none;
        background: none transparent;
        font-size: 13px;
        color: #666666;
        &:hover {
            color: #D29F34;
        }
    }

    &:hover {
        .dropdown-toggle {
            color: #D29F34;
        }
    }
    .dropdown-menu {
        min-width: 105px;
    }
}

#pt-menu {
    background-color: #D29F34;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);
    .pt-list-menu {
        text-align: center;
        > li {
            display: inline-block;
            padding: 0 20px;
            position: relative;
            @media screen and (max-width: 1193px) {
                padding: 0 10px;
                @media screen and (max-width: 990px) {
                    padding: 0 4px;
                    > a {
                        font-size: 11px;
                    }
                }
            }
            > a {
                display: block;
                font-family: 'UTM-Avo-bold';
                font-size: 13px;
                color: #FFFFFF;
                line-height: 18px;
                padding: 11px 0;
                text-transform: uppercase;
                text-decoration:none !important;
                border-bottom: 2px solid transparent;
            }

            &:hover {
                > a {
                    color: #A6B8B5 ;
                }
            }

            &.active {
                > a {
                    color: #FFFFFF;
                    border-bottom: 2px solid #fff;
                } 
            }
            .pt-list-menu-sub {
                display: none;
                position: absolute;
                top: 42px;
                left: 0px;
                width: 230px;
                background-color: #fff;
                z-index: 99;
                padding-top: 10px;
                border-top: 1px solid #f9f9f9;
                border-radius: 0px 0px 3px 3px;
                text-align: left;
                li {
                    padding: 6px 16px;
                    display: block;
                    > a {
                        font-size: 14px;
                        color: #000;
                        padding: 0px 0px 0px 16px;
                        line-height: 16px;
                        border: none !important;
                        text-transform: initial;
                        position: relative;
                        text-decoration:none !important;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 9px;
                            left: 0px;
                            width: 6px;
                            height: 6px;
                            background-color: #e7e6e3;
                            border-radius: 50%;
                        }
                    }
                    &:hover {
                        > a {
                            color: #D29F34;
                            &:before {
                                background-color: #D29F34;
                            }
                        }
                    }
                }
            }

            &:hover {
                .pt-list-menu-sub { 
                    display: block;
                }
            }
        }
    }
}


.icon-menu {
	display:none;
    position:absolute;
    top:50%;
    margin-top: -15px;
	span {
		width: 23px;
		height: 3px;
		background-color: #d29f34;
		margin: 5px 0;
		display: block;
	}
}
@media screen and (max-width: 767px) { 
	#pt-menu {
		display:none;
	}
	.icon-menu {
		display:block;
    }
    .pt-follow {
        display: none;
    }

    #pt-head-container {
        .link-language {
            margin-left: auto;
        }
        @media screen and (max-width: 550px) { 
            
            #pt-logo {
                width: 171px;
                height: 44px;
                @media screen and (max-width: 360px) { 
                    margin: 0 0 0 36px;
                }
            }
        }
    }
}