
@import 'font';
@import 'header';
@import 'banner';
@import 'buttons';
@import 'content';
@import 'footer';


/*----- reset -----*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
img {
  vertical-align: top;
}

::-webkit-input-placeholder { 
color: #9D9D9E;
}
::-moz-placeholder { 
color: #9D9D9E;
}
:-ms-input-placeholder { 
color: #9D9D9E;
}
:-moz-placeholder { 
color: #9D9D9E;
}
.br-grey {
  background-color: #F4F7F8;
}
p {
  font-size: 15px;
  color: #666666; 
  margin-bottom: 16px;
  @media screen and (max-width: 700px) {
      font-size: 12px;
  }
}

body {
    font-family: 'UTM-Avo';
}

.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-15 {
  margin-top: 15px;
}
.box-flex {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  @media screen and (max-width: 767px){
    display: block;
  }
}
.box-flex-nocenter {
  display: flex;
  @media screen and (max-width: 767px){
    display: block;
  }
}
.flex-direction {
  flex-direction:row-reverse;
}


h2.title-section {
  font-size: 24px;
  color: #444444;
  text-align: center;
  font-family: 'UTM-Avo-bold';
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;

  &:after {
    content:"";
    width: 40px;
    height: 1px;
    background-color: #D8D8D8;
    margin-left: -20px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
  }

@media screen and (max-width: 700px) {
    font-size: 18px;
  }
}

.hover-img {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;

    &:hover {
        -webkit-transform: rotate(1deg) scale(1.1);
        -moz-transform: rotate(1deg) scale(1.1);
        -o-transform: rotate(1deg) scale(1.1);
        -ms-transform: rotate(1deg) scale(1.1);
        transform: rotate(1deg) scale(1.1);
    }
}


body[lang=en] {
  font-family: 'gothic' !important; 
  p {
    font-family: 'gothic' !important;
  }
  .pt-text-destination .pt-info .view-detail,
  .menu-detail a,
  .pt-text-destination h3,
  #pt-menu .pt-list-menu > li > a,
  .pt-from-search ul li .input,
  .pt-block-image a span,
  .pt-title-banner h3,
  .title-footer,
  h2.title-section {
    font-family: 'gothic' !important; 
    font-weight: bold !important; 
  }
  a.btn {
    line-height: 33px;
  }
}